<li><a href="#"><i class="icon-wrench icon-white"></i>&nbsp;@HttpContext.Current.User.Identity.Name</a></li>
<li><a href="@Url.Action( "LogOut", "Account", new { Area = "" } )"><i class="icon-user icon-white"></i>&nbsp;Déconnexion</a></li>