@{
    ViewBag.CurrentSection = "Register";
}

<h3>Vous êtes bien enregistré !</h3>
<p>
    Merci pour votre inscription ! Vous pouvez désormais vous connecter à notre site @Html.ActionLink( "en cliquant ici", "LogIn" )
</p>
