@{
    ViewBag.CurrentSection = "Home";
}
<h2>Index</h2>
<div class="album-list">
    <div class="row-fuid album">
        <div class="span4 album-info">
            <p>ShabOtter</p>
            <p>Shabi & Otter</p>
            <p>2013</p>
        </div>
        <div class="span8">
            <ul>
                <li><a href="#">Track #1</a></li>
                <li><a href="#">Track #2</a></li>
                <li><a href="#">Track #3</a></li>
                
            </ul>
        </div>
    </div>
</div>
