<div id="modal-delete-album" class="modal hide fade" style="left: 48%; width: 700px;" data-bind="with: SO.VM.Current.Album.Modal.Edit">
    <div class="modal-header">
        <div class="title">
            <div class="style" style="background-color:blue"></div>
            <div class="title-inner">
                    <p class="text">Modal header</p>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-body" style="font-size: 20px;">
        Etes vous sur de vouloir <span style="color:rgb(233, 75, 75);">supprimer</span> cette album ?
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">Oui !</a>
        <a href="#" class="btn btn-primary">Non !</a>
    </div>
</div>
