<div class="row-fluid">
    <div class="span8 content">
        <form class="form-horizontal ">
            <div class="control-group">
                <label class="control-label" for="inName" >Titre</label>
                <div class="controls">
                    <input id="inName" type="text" data-bind="value: Title" name="AlbumName" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inAutor" >Artiste</label>
                <div class="controls">
                    <input id="inAutor" type="text" data-bind="value: Artist.Name" name="AlbumAutor" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inDate" >Date</label>
                <div class="controls">
                    <input id="inDate" type="text" data-bind="value: ReleaseDate" name="AlbumAutor" />
                </div>
            </div>
        </form>
    </div>
    <div class="span4 content">
        <div id="form-picture" class="app-item-picture">
                    
        </div>
        <div class="fine-uploader">

        </div>
    </div>
</div>