<div class="app-item">
    <div class="app-item-info">
        <div class="app-item-picture-wrapper">
            <div class="app-item-picture">
                <a href="#"  data-bind="click: function () { SO.VM.Current.Album.Navigate.toView($data) }">
                    <img src="" data-bind="attr: {src: CoverImagePath }"/>
                </a>    
            </div>
            <div class="app-item-actions">
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="delete" data-bind="click: function () { SO.VM.Current.Album.deleteAlbum($data); }"><i class="icon-white icon-remove"></i></a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="edit" data-bind="click: function () { SO.VM.Current.Album.editAlbum($data); }"><i class="icon-white icon-edit"></i></a>
                    </li>
                    <li> 
                        <a href="#" data-toggle="tooltip" data-placement="left" title="play"><i class="icon-white icon-play-circle"></i></a>
                    </li>
                    <li> 
                        <a href="#" data-toggle="tooltip" data-placement="left" title="download"><i class="icon-white icon-download-alt" ></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="album-tracks">
        <p class="album-name" data-bind="text: Title"></p>
        <p class="album-artist" data-bind="text: Artist.Name">Shabi & Otter</p>
        <p class="album-year">2013</p>
        <ul>
            <li><a href="#">Track #1</a></li>
            <li><a href="#">Track #2</a></li>
            <li><a href="#">Track #3</a></li>
        </ul>
    </div>
</div>