<div class="row-fluid content">
    <div class="span8">
        <form class="form-horizontal ">
            <div class="control-group">
                <label class="control-label" for="inName" >Name</label>
                <div class="controls">
                    <input id="inName" type="text" data-bind="value: Name" name="AlbumName" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inAutor" >Biography</label>
                <div class="controls">
                    <textarea id="inAutor"data-bind="value: Biography" name="AlbumAutor" ></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="span4">
        <div>
            <img src="~/Images/Artist/artist.jpg" class="img-polaroid" width="160" height="160"/>
        </div>
    </div>
</div>