<div class="app-item">
    <div class="app-item-info">
        <div class="app-item-picture-wrapper">
            <div class="app-item-picture">
                <a href="#"  data-bind="click: function () { SO.VM.Current.Artist.Navigate.toView($data) }">
                    <img src="~/Images/Artist/artist.jpg" />
                </a>  
            </div>
            <div class="app-item-actions">
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="delete" data-bind="click: function () { SO.VM.Current.Artist.deleteArtist($data); }"><i class="icon-white icon-remove"></i></a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="left" title="edit" data-bind="click: function () { SO.VM.Current.Artist.editArtist($data); }"><i class="icon-white icon-edit"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app-item-info-content">
        <p class="artist-name" data-bind="text: Name"></p>
        <p class="artist-bio" data-bind="text: Biography"></p>
        <p class="artist-albums" data-bind=""></p>
    </div>
</div>